@model Rating

<div class="bg-primary m-1 p-1"><h4>Rate @ViewBag.storeName</h4></div>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Rate" method="post">
    <div>
        <textarea id="comment" rows="7" cols="40" placeholder="Comment" name="comment"></textarea>
    </div>
    <div>
        <input hidden name="store_id" value="@ViewBag.storeID">
        <label for="rate_value">Rate value</label>
        <input type="radio" checked name="rate_value" value="true" /><img alt="plus" src="~/images/pos.png" />
        <input type="radio" name="rate_value" value="false" /><img alt="minus" src="~/images/neg.png" />
    </div>
    <button type="submit" class="btn btn-primary">Rate</button>
    <a asp-action="Detail" asp-route-id="@ViewBag.storeID" class="btn btn-secondary">Cancel</a>
</form>