<h4>Admin Panel</h4>
<table class="center_img table table-sm table-bordered">
    <tr>
        <td><a class="btn btn-sm btn-primary" asp-action="RatingsRead">Ratings</a></td>
        <td><a class="btn btn-sm btn-primary" asp-action="StoresRead">Stores</a></td>
        <td><a class="btn btn-sm btn-primary" asp-action="UsersRead">Users</a></td>
    </tr>
</table>



