@model Store

<h4>Create Store</h4>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="StoresCreate" method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Category"></label>
        <select asp-for="Category"
                asp-items="@new SelectList(Enum.GetNames(typeof(Categories)))"></select>
    </div>
    <div>
        <label asp-for="Url"></label>
        <input asp-for="Url" />
    </div>
    <div>
        <label asp-for="Country"></label>
        <select asp-for="Country"
                asp-items="@new SelectList(Enum.GetNames(typeof(Countries)))"></select>
    </div>
    <div>
        <label asp-for="City"></label>
        <select asp-for="City"
                asp-items="@new SelectList(Enum.GetNames(typeof(Cities)))"></select>
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
    </div>
    <div>
        <label asp-for="Number_of_ratings"></label>
        <input asp-for="Number_of_ratings" />
    </div>
    <div>
        <label asp-for="Number_of_pos_ratings"></label>
        <input asp-for="Number_of_pos_ratings" />
    </div>
    <div>
        <label for="NewImage">Photo </label>
        <input type="file" name="NewImage" id="NewImage">
    </div>
    <button class="btn btn-sm btn-primary" type="submit">Create</button><a> </a>
    <a class="btn btn-sm btn-primary" asp-action="StoresRead">Cancel</a>
</form>

