<article>
    <h1>Welcome to StoreRateSystem!</h1>
    <p>
        Here you can leave any rating to any store that you have visited.
        And also you can see the ratings of other people that can help you when choosing a store for your purchases.
        The reliability and impartiality of the ratings is guaranteed by StoreRateSystem, our moderators carefully check
        all the questionnaires and every assessment before making it to the site. Our independent platform allows you to
        get rid of any censorship in relation to any shop, be it the big market giants or small attractive shops. Remember,
        thanks to our site you will always have objective ratings, as ratings are formed taking into account each vote.
    </p>
    <div class="center_img">
        <img alt="start img" src="~/images/start.png">
    </div>
</article>
<article id="last_mvideo">
    <h2>M.Video closes the acquisition of Russian business MediaMarkt and acquired a new shareholder represented by MediaMarktSaturn</h2>
    <time datetime="2018-07-31">August 31, 2018</time>
    <p>
        Russia's largest electronics and home appliances seller, part of the SAFMAR Group, Mikhail Gutseriev, announces
        on closing the deal, under which MediaMarktSaturn acquired a 15% stake in M.video PJSC from SAFMAR Group, the
        company's largest shareholder, and M.Video-Eldorado Group acquired a 100% stake in Media-Saturn-Russland, a Russian
        company Business MediaMarktSaturn.<br>
        As a result of the transaction, M.Video-Eldorado Group received 42 MediaMarkt stores in 22 Russian cities under its management.
        The group plans to open about 60 stores under the M.Video or Eldorado brands in their place, depending on location, competitive
        environment and customer audience. Some stores will open this year, the rest - in the first half of 2019.
    </p>
    <div class="center_img">
        <img alt="mvideo logo" src="~/images/mvideo.png">
    </div>
</article>
<article id="last_nvidia">
    <h2>GeForce RTX Super graphics cards may be in short supply</h2>
    <time datetime="2019-07-12">August 12, 2019</time>
    <p>
        New GeForce RTX Super video cards may soon be in short supply and their prices will go up. Reports about this resource eTeknix,
        indicating that retailers are already quite difficult to get at least some significant amount of Super-series graphics accelerators.
        It is reported that in the UK there are not too many new NVIDIA video cards available at retail. In many stationary and online stores
        most of the models of GeForce RTX 2060 Super and RTX 2070 Super video cards are not available or they are sold out. A similar situation
        is observed in the United States, although the GeForce RTX 2060 Super video card is less problematic to buy there.
    </p>
    <div class="center_img">
        <img alt="nvidia logo" src="~/images/nvidia.png">
    </div>
</article>




