@model IEnumerable<int>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post,
new { enctype = "multipart/form-data" }))
{
    <input type="file" name="uploaded" />
    <button type="submit">upload</button>

}

@*@foreach (var imageID in Model)
{
    <img width="480" height="320" src="@Url.Action("Image", new { id = imageID })" />
}*@


