@model IEnumerable<Store_Rating_System.Models.Store>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-body">
        <h2>Here is the list of most popular stores!</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Store</th>
                    <th>Description</th>
                    <th>Site</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Store_Rating_System.Models.Store r in Model)
                {
                <tr>
                    <td><a class="nav-link" asp-action="Index">@r.Name</a></td>
                    <td>@r.Description</td>
                    <td> <a class="nav-link" href="http://@r.URL">@r.URL</a></td>
                    <td>★★★★☆</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>