@model Rating

<div class="bg-primary m-1 p-1"><h4>Edit Rating</h4></div>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="RatingsUpdate" method="post">
    <div>
        <label asp-for="User_ID"></label>
        <input asp-for="User_ID" />
    </div>
    <div>
        <label asp-for="Store_ID"></label>
        <input asp-for="Store_ID" />
    </div>
    <div>
        <label asp-for="Comment"></label>
        <input asp-for="Comment" />
    </div>
    <div>
        <label asp-for="Rate_value"></label>
        <input asp-for="Rate_value" />
    </div>
    <div>
        <label asp-for="Rate_Status"></label>
        <select asp-for="Rate_Status"
                asp-items="@new SelectList(Enum.GetNames(typeof(Statuses)))"></select>
    </div>
    <div>
        <label asp-for="Date_of_publication"></label>
        <input asp-for="Date_of_publication" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="RatingRead" class="btn btn-secondary">Cancel</a>
</form>